{% extends "templates.dashboard" %}

{% block css %}
<link rel="stylesheet" href="/libs/bootstrap-table/bootstrap-table.min.css">
  <style media="screen">
    #btnFile{
      cursor: pointer;
    }
    .form-horizontal
    {
      padding-left: 2rem;
    }
  </style>
{% endblock %}

{% block title %}
  Formulario de Preguntas
{% endblock %}

{% block content %}
<div class="row" id="sectionTable">
  <div class="col-xs-12">
    <div class="">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cuestionario</legend>

<!-- Multiple Radios -->
<div id="pdf">
  {% for item in questions %}
    <div class="control-group" style="margin-bottom: 1rem;
                                      background: #e4e4e4;
                                      padding: 1rem;
                                      border-radius: 1rem;" >
      <label class="control-label" for="radiosPreg" id="question" style="margin-bottom: 1rem;">
        {{ item.question }}
      </label>
      <div class="controls" style="margin-left: 2rem;">
        <label class="radio" for="radiosPreg1">
          <input type="radio" name="radiosPreg{{item.id}}" class="yes">
          Sí
        </label>
        <label class="radio" for="radiosPreg0">
          <input type="radio" name="radiosPreg{{item.id}}" class="no">
          No
        </label>
      </div>
    </div>
  {% endfor %}
  <h1 id="result" hidden style="font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    float: right;">Promedio de evaluacion: <span>100%</span> </h1>
</div>
<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singleEnviar"></label>
  <div class="controls">
    <button id="singleEnviar" name="singleEnviar" class="btn btn-success" data-rel="{{relation}}">Enviar</button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}
{% block js %}
<script src="/libs/bootstrap-table/bootstrap-table.min.js" charset="utf-8"></script>
<script src="/libs/bootstrap-table/locale/bootstrap-table-es-MX.js" charset="utf-8"></script>
<script type="text/javascript" src="/scripts/encuesta.js"></script>
{% endblock %}
