{% extends "templates.dashboard" %}
{% block opciones %}
<li>
  <a href="#" class=" hvr-bounce-to-right">
    <i class="fa fa-indent nav_icon"></i>
    <span class="nav-label">Opciones1</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li>
      <a href="graphs.html" class=" hvr-bounce-to-right">
        <i class="fa fa-area-chart nav_icon"></i>Link 1</a>
    </li>

    <li>
      <a href="maps.html" class=" hvr-bounce-to-right">
        <i class="fa fa-map-marker nav_icon"></i>Link 2</a>
    </li>

    <li>
      <a href="typography.html" class=" hvr-bounce-to-right">
        <i class="fa fa-file-text-o nav_icon"></i>Link 3</a>
    </li>

  </ul>
</li>
{% endblock %}
